
Simulator/ArduinoSimulator/ArduinoSimulator/Debug/ArduinoSimulator.tlog/unsuccessfulbuild
*.tlog
*.db
*.opendb
*.ipch
*.log
*.obj
*.idb
*.pdb
Simulator/ArduinoSimulator/.vs/ArduinoSimulator/v15/.suo
*.suo
Simulator/HardwareSimulator/Debug/HardwareSimulator.exe
*.ilk
