<?xml version="1.0"?>
<Hardware>
    <device type="Arduino Uno" name="Arduino 0">
		<connections>
			<connection>
				<from pin="1"/>
				<to device="Serial Monitor" pin="1"/>
			</connection>
		</connections>
	</device>
	<device type="Serial Monitor" name="Serial Monitor">
		<baudrate>9600</baudrate>
		<config>"8N1"</config>
		<connections>
			<connection>
				<from pin="1"/>
				<to device="Arduino 0" pin="1"/>
			</connection>
		</connections>
	</device>
</Hardware>